<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.company_sales_management_system.mapper.PurchasingGoodsMapper">

    <insert id="insertBatch">
        insert into company_sales_management_system.purchasing_goods(purchasing_count, purchasing_list_id, goods_id, state, created_at, updated_at) values
        <foreach collection="list" separator="," item="item">
            (#{item.purchasingCount}, #{item.purchasingListId}, #{item.goodsId}, #{item.state}, #{item.createdAt}, #{item.updatedAt})
        </foreach>
    </insert>

</mapper>
